@charset "UTF-8";
/* 基础样式 */
/* reset */
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-size: 0.32rem;
}

body, p, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd {
  margin: 0;
  padding: 0;
}

body {
  font: 0.32rem/1.6 normal Helvetica;
  color: #333;
  background-color: #f6f6f6;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li, ol, li {
  list-style: none;
}

img, a img {
  border: none;
}

::-webkit-input-placeholder {
  color: #9b9b9b;
}

/* color */
.color-default {
  color: #333;
}

.color-main {
  color: #44bbfe;
}

.color-gray {
  color: #9b9b9b !important;
}

.color-lightgray {
  color: #909090 !important;
}

.color-white {
  color: #fff !important;
}

.color-lightwhite {
  color: #fafafa !important;
}

.color-red {
  color: #a63533 !important;
}

.color-lightred {
  color: #fc5d53 !important;
}

.color-orange {
  color: #ff352f !important;
}

.color-yellow {
  color: #ffb03f !important;
}

.color-lightyellow {
  color: #ffdaa4 !important;
}

.color-green {
  color: #5dce29 !important;
}

.color-cyan {
  color: #47b747 !important;
}

.color-blue {
  color: #409eff !important;
}

.color-purple {
  color: #e322cb !important;
}

.color-black {
  color: #000 !important;
}

/* backgroundColor */
.bgc-main {
  background-color: #44bbfe;
}

.bgc-gray {
  background-color: #9b9b9b !important;
}

.bgc-lightgray {
  background-color: #909090 !important;
}

.bgc-white {
  background-color: #fff !important;
}

.bgc-lightwhite {
  background-color: #fafafa !important;
}

.bgc-red {
  background-color: #a63533 !important;
}

.bgc-lightred {
  background-color: #fc5d53 !important;
}

.bgc-orange {
  background-color: #ff352f !important;
}

.bgc-yellow {
  background-color: #ffb03f !important;
}

.bgc-lightyellow {
  background-color: #ffdaa4 !important;
}

.bgc-green {
  background-color: #5dce29 !important;
}

.bgc-cyan {
  background-color: #47b747 !important;
}

.bgc-blue {
  background-color: #409eff !important;
}

.bgc-purple {
  background-color: #e322cb !important;
}

.bgc-black {
  background-color: #000 !important;
}

/* border*/
.bd {
  border: 1px solid #e7e7e7 !important;
}

.bdt {
  border-top: 1px solid #e7e7e7 !important;
}

.bdr {
  border-right: 1px solid #e7e7e7 !important;
}

.bdb {
  border-bottom: 1px solid #e7e7e7 !important;
}

.bdl {
  border-left: 1px solid #e7e7e7 !important;
}

.bd-none {
  border: none !important;
}

.bdtb {
  border-top: 1px solid #eee !important;
  border-bottom: 1px solid #e7e7e7 !important;
}

/* fontSize */
.font-0 {
  font-size: 0 !important;
}

.font-20 {
  font-size: 0.26667rem !important;
}

.font-24 {
  font-size: 0.32rem !important;
}

.font-26 {
  font-size: 0.34667rem !important;
}

.font-28 {
  font-size: 0.37333rem !important;
}

.font-30 {
  font-size: 0.4rem !important;
}

.font-32 {
  font-size: 0.42667rem !important;
}

.font-34 {
  font-size: 0.45333rem !important;
}

.font-36 {
  font-size: 0.48rem !important;
}

.font-48 {
  font-size: 0.64rem !important;
}

.font-74 {
  font-size: 0.98667rem !important;
}

.fwn {
  font-weight: normal !important;
}

.fwb {
  font-weight: bold !important;
}

.fwl {
  font-weight: lighter !important;
}

/* lineheight */
.lh-sm {
  line-height: 1 !important;
}

.lh-14 {
  line-height: 1.4 !important;
}

.lh-md {
  line-height: 1.6 !important;
}

.lh-big {
  line-height: 2 !important;
}

.lh-lg {
  line-height: 2.4 !important;
}

.lh-huge {
  line-height: 2.8 !important;
}

.lh-60px {
  line-height: 0.8rem !important;
}

.lh-64px {
  line-height: 0.85333rem !important;
}

/* textAlign  & vertical & foat*/
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.ver-top {
  vertical-align: top !important;
}

.ver-middle {
  vertical-align: middle !important;
}

.ver-bottom {
  vertical-align: bottom !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.cf:before, .cf:after, .clearfix:before, .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* others */
.hide {
  display: none !important;
}

.over-hide {
  overflow: hidden !important;
}

.over-auto {
  overflow: auto !important;
}

.rel {
  position: relative !important;
}

.in-block {
  display: inline-block !important;
}

.block {
  display: block !important;
}

.opacity-0 {
  opacity: 0;
}

/* margin */
.mg-0 {
  margin: 0 !important;
}

.mg-xsm {
  margin: 0.06667rem !important;
}

.mg-sm {
  margin: 0.13333rem !important;
}

.mg-md {
  margin: 0.26667rem !important;
}

.mg-big {
  margin: 0.4rem !important;
}

.mg-lg {
  margin: 0.53333rem !important;
}

.mg-huge {
  margin: 0.66667rem !important;
}

.mgt-0 {
  margin-top: 0 !important;
}

.mgt-xsm {
  margin-top: 0.06667rem !important;
}

.mgt-sm {
  margin-top: 0.13333rem !important;
}

.mgt-md {
  margin-top: 0.26667rem !important;
}

.mgt-big {
  margin-top: 0.4rem !important;
}

.mgt-lg {
  margin-top: 0.53333rem !important;
}

.mgt-huge {
  margin-top: 0.66667rem !important;
}

.mgt-150 {
  margin-top: 2rem !important;
}

.mgr-0 {
  margin-right: 0 !important;
}

.mgr-xsm {
  margin-right: 0.06667rem !important;
}

.mgr-sm {
  margin-right: 0.13333rem !important;
}

.mgr-md {
  margin-right: 0.26667rem !important;
}

.mgr-big {
  margin-right: 0.4rem !important;
}

.mgr-lg {
  margin-right: 0.53333rem !important;
}

.mgr-30 {
  margin-right: 0.4rem !important;
}

.mgr-huge {
  margin-right: 0.66667rem !important;
}

.mgb-0 {
  margin-bottom: 0 !important;
}

.mgb-xsm {
  margin-bottom: 0.06667rem !important;
}

.mgb-sm {
  margin-bottom: 0.13333rem !important;
}

.mgb-md {
  margin-bottom: 0.26667rem !important;
}

.mgb-big {
  margin-bottom: 0.4rem !important;
}

.mgb-lg {
  margin-bottom: 0.53333rem !important;
}

.mgb-huge {
  margin-bottom: 0.66667rem !important;
}

.mgb-100 {
  margin-bottom: 1.33333rem !important;
}

.mgl-0 {
  margin-left: 0 !important;
}

.mgl-xsm {
  margin-left: 0.06667rem !important;
}

.mgl-sm {
  margin-left: 0.13333rem !important;
}

.mgl-md {
  margin-left: 0.26667rem !important;
}

.mgl-big {
  margin-left: 0.4rem !important;
}

.mgl-lg {
  margin-left: 0.53333rem !important;
}

.mgl-30 {
  margin-left: 0.4rem !important;
}

.mgl-huge {
  margin-left: 0.66667rem !important;
}

/* padding */
.pd-0 {
  padding: 0 !important;
}

.pd-xsm {
  padding: 0.06667rem !important;
}

.pd-sm {
  padding: 0.13333rem !important;
}

.pd-15 {
  padding: 0.2rem !important;
}

.pd-md {
  padding: 0.26667rem !important;
}

.pd-big {
  padding: 0 0.4rem 0.4rem 0.4rem !important;
}

.pd-lg {
  padding: 0.53333rem !important;
}

.pd-huge {
  padding: 0.66667rem !important;
}

.pdt-0 {
  padding-top: 0 !important;
}

.pdt-xsm {
  padding-top: 0.06667rem !important;
}

.pdt-sm {
  padding-top: 0.13333rem !important;
}

.pdt-15 {
  padding-top: 0.2rem !important;
}

.pdt-md {
  padding-top: 0.26667rem !important;
}

.pdt-big {
  padding-top: 0.4rem !important;
}

.pdt-lg {
  padding-top: 0.53333rem !important;
}

.pdt-huge {
  padding-top: 1.33333rem !important;
}

.pdr-0 {
  padding-right: 0 !important;
}

.pdr-xsm {
  padding-right: 0.06667rem !important;
}

.pdr-sm {
  padding-right: 0.13333rem !important;
}

.pdr-15 {
  padding-right: 0.2rem !important;
}

.pdr-md {
  padding-right: 0.26667rem !important;
}

.pdr-big {
  padding-right: 0.4rem !important;
}

.pdr-lg {
  padding-right: 0.53333rem !important;
}

.pdr-30 {
  padding-right: 0.4rem !important;
}

.pdr-huge {
  padding-right: 0.66667rem !important;
}

.pdb-0 {
  padding-bottom: 0 !important;
}

.pdb-xsm {
  padding-bottom: 0.06667rem !important;
}

.pdb-sm {
  padding-bottom: 0.13333rem !important;
}

.pdb-15 {
  padding-bottom: 0.2rem !important;
}

.pdb-md {
  padding-bottom: 0.26667rem !important;
}

.pdb-big {
  padding-bottom: 0.4rem !important;
}

.pdb-lg {
  padding-bottom: 0.53333rem !important;
}

.pdb-huge {
  padding-bottom: 1.33333rem !important;
}

.pdl-0 {
  padding-left: 0 !important;
}

.pdl-xsm {
  padding-left: 0.06667rem !important;
}

.pdl-sm {
  padding-left: 0.13333rem !important;
}

.pdl-15 {
  padding-left: 0.2rem !important;
}

.pdl-md {
  padding-left: 0.26667rem !important;
}

.pdl-big {
  padding-left: 0.4rem !important;
}

.pdl-lg {
  padding-left: 0.53333rem !important;
}

.pdl-30 {
  padding-left: 0.4rem !important;
}

.pdl-huge {
  padding-left: 0.66667rem !important;
}

.pdlr-30 {
  padding: 0 0.4rem;
}

.pdtb-50 {
  padding: 0.66667rem 0;
}

/*ui-row*/
.pub-row {
  display: block;
}

.pub-row:before, .pub-row:after {
  content: "";
  display: table;
  clear: both;
}

.pub-row > [class*='col-'] {
  display: block;
  float: left;
  min-height: 1px;
}

.col-1 {
  width: 8.33333333%;
}

.col-2 {
  width: 16.66666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333%;
}

.col-5 {
  width: 41.66666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333%;
}

.col-8 {
  width: 66.66666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333333%;
}

.col-11 {
  width: 91.66666667%;
}

.col-12 {
  width: 100%;
}

.BMap_cpyCtrl {
  display: none;
  }
.anchorBL{
  display: none;
  }
