@function px2rem($px) {
  @return $px/75 + rem;
}
body>img{
  width: 100%;
  height: auto;
  display: block;
}
.yuyue{
  display: flex;
  justify-content: center;
  background: #e5e5e5;
  img{
    width: 40%;
    height: auto;
  }
}
.dialog-box{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.35);
  display: none;
}
.dialog{
  width: 90%;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 0 3px rgba(0,0,0,.1);
  box-sizing: border-box;
  padding: px2rem(30);
  .label{
    font-size: px2rem(24);
    padding-left: px2rem(20);
  }
}
.dialog .close{
  position: absolute;
  right: px2rem(20);
  top: px2rem(20);
  width: px2rem(30);
  height: px2rem(30);
  background: url("../images/chanpintuijie/close-icon.png") no-repeat center;
  background-size: px2rem(20) auto;
}
.dialog .title{
  text-align: center;
  line-height: px2rem(40);
  font-size: px2rem(28);
  font-weight: 600;
}
.dialog .content{
  padding-top: px2rem(30);
}
.dialog .content input{
  height: px2rem(60);
  line-height:px2rem(60);
  font-size: px2rem(26);
  border: 1px solid #d2d2d2;
  border-radius:px2rem(10);
  padding-left: px2rem(60);
  width: 100%;
  margin-top: px2rem(20);
  background: url("../images/phone.jpg") no-repeat px2rem(20) center;
  background-size: auto px2rem(30);
}
.dialog .content .btn{
  line-height: px2rem(60);
  border-radius: px2rem(30);
  text-align: center;
  color: #ffffff;
  font-size: px2rem(24);
  background-color: #1b7af8;
  margin-top: px2rem(30);
}
.btn-box{
  background-color: #01050e;
  display: flex;
  justify-content: center;
  padding: px2rem(30) 0;
}
.show-dialog-btn{
  background-color: #729bf8;
  color: #ffffff;
  line-height: px2rem(60);
  text-align: center;
  border-radius: px2rem(10);
  padding: 0 px2rem(30);
  font-size: px2rem(30);
}